<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Management</title>
  </head>
  <body>
    <h1>Book Management System</h1>
    <h2>Books List:</h2>
    <ul id="bookList"></ul>

    <h3>Add a Book:</h3>
    <form id="addBookForm">
      Title: <input type="text" id="title" required /><br />
      Author: <input type="text" id="author" required /><br />
      ISBN: <input type="text" id="isbn" required /><br />
      Price: <input type="number" id="price" required /><br />
      <button type="submit">Add Book</button>
    </form>

    <!-- <script src="app.js"></script> -->
  </body>
</html>
